<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style-eventRegistration.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style-fonts.css}" />


</head>
<body style="height: auto">
<header th:insert="blocks/header :: header" class="headers"/>
<section class="background" >
    <div th:each="element : ${event}" class="form pt-5" id="myForm">
        <form action="#" class="form-container" method="post" >
            <h1 class="text-center">Регистрация</h1>
            <h2 th:text="${element.title}" />
            <label th:for="name"><b>Имя</b></label>
            <input name = "name" type="text" placeholder="Ваше имя" required>

            <label th:for="vk"><b>Вк</b></label>
            <input name = "vk" type="text" placeholder="Ваш vk" required>

            <button type="submit" class="btn">Отправить</button>
        </form>
    </div>
</section>
</body>
</html>