<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type = "text/css"  th:href="@{/css/fonts/GothamPro/style.css}" />
        <link rel="stylesheet" type = "text/css"  th:href="@{/css/fonts/GothamPro-Bold/style.css}" />
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/header.css}" />
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style-main.css}" />
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style-fonts.css}" />

    </head>
    <body>

        <header th:insert="blocks/header :: header" class="headers" />
        <section class="py-5 text-center container-fluid background-image-1" style="height: 850px;">
            <div class="row py-lg-5">

                <div class="d-flex align-items-end flex-column bd-highlight mb-0 pe-0">
                    <p class="font-1-purpule">НАУ</p>
                    <p class="font-1-white">НАУКА </p>
                    <p class="font-2">МНОГО НАУКИ </p>
                    <p class="font-3">МЕГАУЛЬТРАХОРОШ</p>
                </div>
            </div>

         </section>
         <section class="container-fluid text-center background" style="height: auto;">
                <div class="container">
                    <h1 class="font-color pt-5 pb-3">Добро пожаловать на сайт Bonch-Science!</h1>
                    <div class="row">
                        <div class="ps-5 pe-5 mb-5 center">
                            <p class="text-xl-start font-color font " >Domina omnium scientiarum — Властительница всего — наука (Для пафоса как заголовок, оставить только слова на латинском)

                                Краткое описание на домашней странице:

                                Наша главная цель - популяризировать науку. На этом сайте вы можете найти всю подробную информацию о нас.

                                  </p>


                            <p class="text-xl-start font-color font">Что такое BonchScience? Это не просто комитет, это объединение студентов СПбГУТ, любящих науку. Мы стараемся оживить научную жизнь нашего университета. Интеллектуальная игра “Что? Где? Когда?”, различные конкурсы научных студенческих работ, проектная деятельность в виде хакатонов - это всё наша работа. Мы помогаем студентам освоиться в научной среде, организовываем тематические мероприятия и стараемся развивать и продвигать исследовательские работы. Так же мы можем помочь студентам с написанием и публикацией научных статей, с развитием научных проектов, стараемся вызвать интерес у студентов к исследованиям, к изучению чего-то нового и неизведанного и, конечно же, к проблемам современной науки. BonchScience организует встречи со спикерами из научной сферы. Благодаря таким встречам каждый их участник может узнать полезную и актуальную информацию.</p>
                        </div>
                    </div>
                </div>
         </section>
    </body>
</html>
