
<html xmlns:th="http://www.thymeleaf.org">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3  pt-2 ">
        <a href="/home" class="d-flex align-items-center text-white text-decoration-none ms-3 ">
            <span class="fs-4 nav-border px-1 logo">Bonch-Science</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto ">
            <a class="me-3 py-2 px-2 text-white text-decoration-none nav-border font-style" href="/news">Новости</a>
            <a class="me-3 py-2 px-2 text-white text-decoration-none nav-border font-style" href="/events">Мероприятия</a>
            <a class="me-3 py-2 px-2 text-white text-decoration-none nav-border font-style" href="/scientific-and-educational-centers">Научно-образовательные центры</a>
            <a class="me-3 py-2 px-2 text-white text-decoration-none nav-border font-style" href="/about">О комитете</a>
        </nav>
    </div>
</div>