<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3  pt-2 ">
        <a href="/" class="d-flex align-items-center text-white text-decoration-none ms-3 ">
            <span class="fs-4 nav-border px-1">Bonch-Science</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto ">
            <a class="me-3 py-2 px-2 text-white text-decoration-none nav-border" href="/news">Новости</a>
            <a class="me-3 py-2 px-2 text-white text-decoration-none nav-border" href="/events">Мероприятия</a>
            <a class="me-3 py-2 px-2 text-white text-decoration-none nav-border" href="/scientific-and-educational-centers">Научно-образовательные центры</a>
            <a class="me-3 py-2 px-2 text-white text-decoration-none nav-border" href="/about">О комитете</a>
        </nav>
    </div>
</div>