nav {
    border-bottom: solid 1px transparent;
    min-height: 60px;
    background: transparent;
}

nav .wrap-core-nav-list,
nav .nav-header {
    background: transparent;
}

nav .brand {
    display: block;
    position: relative;
    width: 170px;
    top: 20px;
}

nav .brand img {
    width: 100%;
}

nav .brand img.top{
    display: block;
    margin-bottom: 5px;
}

nav .brand img.scrolled{
    display: none;
}

nav.scrolled .brand img.scrolled{
    display: block;
    padding-bottom: 10px;
}

nav .menu li a {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    color: #fff;
}

nav .menu li.active > a,
nav .menu li a:hover {
    color: #e74c3c;
}

nav.scrolled  .menu li.active > a,
nav.scrolled  .menu li a:hover {
	color: #e74c3c;
}

nav button {
    background: transparent;
    border: none;
    outline: none;
}

nav.scrolled{
    background: #fff;
    border-bottom: solid 1px #dfdfdf;
}

nav.scrolled .menu li a{
    color: #333;
}

nav.scrolled .brand img.top{
    display: none;
}

nav.scrolled .wrap-core-nav-list,
nav.scrolled .nav-header{
    background: #fff;
}

@media (max-width: 992px) {
    nav .full-container,
    nav .nav-container {
        padding-left: 0;
        padding-right: 0;
    }

    nav .nav-header {
        min-height: 60px;
    }

    nav .nav-header .brand {
        margin: 0 auto 5px;
        float: none;
    }

    nav .nav-header .toggle-bar {
        font-size: 18px;
        position: absolute;
        top: 17px;
        left: 15px;
        color: #fff;
    }

    nav.scrolled .nav-header .toggle-bar{
        color: #333;
    }

    .core-nav .wrap-core-nav-list{
        border-top: solid 1px rgba(255, 255, 255, 0.2);
        border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    }

    nav .menu li a {
        padding: 10px 10px;
        border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    }

    nav .menu li:last-child a {
        border-bottom: none;
    }

    nav.scrolled .wrap-core-nav-list{
        border-top: solid 1px #dfdfdf;
        border-bottom: solid 1px #dfdfdf;
    }

    nav.scrolled .menu li a {
        border-bottom: solid 1px #dfdfdf;
    }
}
